* {
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    border: none;
    height: 100%;
    
}

header {
    background-color: #5893D4;
    margin: 0px auto;
    padding: 30px auto 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    background-color: #5893D4;
    margin: 0px auto;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 4rem;
    padding: 0;
    color: #070D59;
}

header strong {
    font-weight: bold;
    font-size: 35px;
    padding: 0 15px;
    font-family: Monoton;
}

header ul{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

header li{
    display: inline;
    padding: 0px 70px;
    margin: 0px;
}

main {
    text-align: center;
    background-color: #CEDDEF;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 450px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #CEDDEF;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Monoton;
}

.box-1 {
    border-right: 5px solid #070D59;
    border-bottom: 5px solid #070D59;
}

.box-2 {
    border-left: 5px solid #070D59;
    border-right: 5px solid #070D59;
    border-bottom: 5px solid #070D59;
}

.box-3 {
    border-left: 5px solid #070D59;
    border-bottom: 5px solid #070D59;
}

.box-4 {
    border-top: 5px solid #070D59;
    border-right: 5px solid #070D59;
    border-bottom: 5px solid #070D59;
}

.box-5 {
    border: 5px solid #070D59;
}

.box-6 {
    border-top: 5px solid #070D59;
    border-left: 5px solid #070D59;
    border-bottom: 5px solid #070D59;
}

.box-7 {
    border-top: 5px solid #070D59;
    border-right: 5px solid #070D59;
}

.box-8 {
    border-top: 5px solid #070D59;
    border-right: 5px solid #070D59;
    border-left: 5px solid #070D59;
}

.box-9 {
    border-top: 5px solid #070D59;
    border-left: 5px solid #070D59;
}

footer {
  display: flex;
  flex-direction: column;
}

footer .game-restart {
    padding: 5px 25px;
    background-color: #070D59;
    color: aliceblue;
    font-size: 1.2em;
    border: none;
    border-radius: 8px;
}

footer .game-restart:hover {
    background-color: #11468F;
    font-weight: bold;
    color: #CEDDEF;
}

footer .return {
  background: linear-gradient(109.8deg,rgba(250,111,152,1) 5.6%,rgba(255,189,55,1) 91.5% );
  border: 0;
  border-radius: 30px;
  color: white;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 1em 1.5em;
  text-transform: uppercase;
  width: 300px;
  text-align: center;
}

footer .return:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid white;
}

